
<div *ngIf="taskHandler">
    <h2><span jhiTranslate="dashboardApp.taskHandler.detail.title">Task Handler</span> {{taskHandler.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="dashboardApp.taskHandler.name">Name</span></dt>
        <dd>
            <span>{{taskHandler.name}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.taskHandler.langauge">Langauge</span></dt>
        <dd>
            <span jhiTranslate="{{'dashboardApp.Langauge.' + taskHandler.langauge}}">{{taskHandler.langauge}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.taskHandler.code">Code</span></dt>
        <dd>
            <div *ngIf="taskHandler.code">
                <a (click)="openFile(taskHandler.codeContentType, taskHandler.code)" jhiTranslate="entity.action.open">open</a>
                {{taskHandler.codeContentType}}, {{byteSize(taskHandler.code)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task-handler/'+ taskHandler.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
