
<div *ngIf="taskHandler">
    <h2><span jhiTranslate="dashboardApp.taskHandler.detail.title">Task Handler</span> {{taskHandler.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="dashboardApp.taskHandler.name">Name</span></dt>
        <dd>
            <span>{{taskHandler.name}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.taskHandler.className">Class Name</span></dt>
        <dd>
            <span>{{taskHandler.className}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task-handler/'+ taskHandler.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
