
<div *ngIf="task">
    <h2><span jhiTranslate="dashboardApp.task.detail.title">Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="dashboardApp.task.name">Name</span></dt>
        <dd>
            <span>{{task.name}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.period">Period</span></dt>
        <dd>
            <span>{{task.period}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.forceSleep">Force Sleep</span></dt>
        <dd>
            <span>{{task.forceSleep}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.keepAwake">Keep Awake</span></dt>
        <dd>
            <span>{{task.keepAwake}}</span>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.node">Node</span></dt>
        <dd>
            <div *ngIf="task.node">
                <a [routerLink]="['node', task.node?.id]">{{task.node?.nodeSn}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.taskHandler">Task Handler</span></dt>
        <dd>
            <div *ngIf="task.taskHandler">
                <a [routerLink]="['task-handler', task.taskHandler?.id]">{{task.taskHandler?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dashboardApp.task.eventHandler">Event Handler</span></dt>
        <dd>
            <div *ngIf="task.eventHandler">
                <a [routerLink]="['event-handler', task.eventHandler?.id]">{{task.eventHandler?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
